.parent{
  border:3px solid #D5DBDB;
  display: flex;
  flex-direction:row;
  justify-content: center;
  background:#EAEDED;
}
.leftchild{
  border: 2px solid #D5DBDB;
  border-radius: 1%;
  margin:2%;
  padding:3%;
  width:30%;
  font-size: 25px;
  background-color: #F8F9F9;

}
.leftchild img{
  width: 50%;
  display: block;
  border-radius: 50%;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;




}
a{
  word-wrap: break-word;
}


h1,p{
  color: black;
}
.rightchild{
  border: 2px solid  #D5DBDB;
  margin:2%;
  padding:3%;
  border-radius: 1%;
  width:30%;
  font-size: 20px;
  background-color: #F8F9F9;
}
.rightchild table{
  border-radius: 2%;
  background-color: #FEFDFC;

}
@media only screen and (min-width:320px) and (max-width:480px){
.parent{
  border:3px solid #D5DBDB;
  display: flex;
  flex-direction:column;
  justify-content: center;
  background:#EAEDED;
}
.leftchild{
  border: 2px solid #D5DBDB;
  border-radius: 1%;
  margin:2%;
  padding:3%;
  width:90%;
  font-size: 25px;
  background-color: #F8F9F9;

}
.leftchild table{
  width: 90%;
}
.leftchild img{
  width: 50%;
  display: block;
  border-radius: 50%;
  border: 2px solid black;


}
a{
  word-wrap: break-word;
}
h1,p{
  color: black;
}
.rightchild{
  border: 2px solid  #D5DBDB;
  margin:2%;
  padding:3%;
  border-radius: 1%;
  width:90%;
  font-size: 20px;
  background-color: #F8F9F9;
}
.rightchild table{
  border-radius: 2%;
  background-color: #FEFDFC;
}
}
@media only screen and (min-width:481px) and (max-width:769px){
.parent{
  border:3px solid #D5DBDB;
  display: flex;
  flex-direction:row;
  justify-content: center;
  background:#EAEDED;
}
.leftchild{
  border: 2px solid #D5DBDB;
  border-radius: 1%;
  margin:2%;
  padding:3%;
  width:90%;
  font-size: 25px;
  background-color: #F8F9F9;

}
.leftchild table{
  width:90%;
}
.leftchild img{
  width: 50%;
  display: block;
  border-radius: 50%;
  border: 2px solid black;


}
a{
  word-wrap: break-word;
}
h1,p{
  color: black;
}
.rightchild{
  border: 2px solid  #D5DBDB;
  margin:2%;
  padding:3%;
  border-radius: 1%;
  width:90%;
  font-size: 20px;
  background-color: #F8F9F9;
}
.rightchild table{
  border-radius: 2%;
  background-color: #FEFDFC;
}
}
